<td></td>
<div class="home_container">
<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/16550659831531404420netflix.jpg"
gameLabel="Digital"
gameType="DIGITAL | PS2"
gamePrice="R$ 400,99"
></app-card>
<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/169998558214.11.202313.07.28REC.png"
gameLabel="Esclusivo"
gameType="PS5 | PS3"
gamePrice="R$ 229,59"
></app-card>

<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/1670631406ButtonNetwork.png"
gameLabel="Padrao PS"
gameType="PADRAO PS"
gamePrice="R$ 299,90"
></app-card>
<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/1670631406ButtonNetwork.png"
gameLabel="Padrao PS"
gameType="PADRAO PS"
gamePrice="R$ 299,90"
></app-card>
<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/1670631406ButtonNetwork.png"
gameLabel="Padrao PS"
gameType="PADRAO PS"
gamePrice="R$ 299,90"
></app-card>
<app-card
gameCover="https://www.pivwebsistemas.com.br/system/assets/uploads/products/1670631406ButtonNetwork.png"
gameLabel="Padrao PS"
gameType="PADRAO PS"
gamePrice="R$ 299,90"
></app-card>

</div>
