
<div class="menu-bar_container">
<div class="meni-bar_logo">
 <img src="https://www.pivwebsistemas.com.br/system/assets/uploads/img/1654223868favicon114ant.png"
     alt="Seu Logo aqui"
     srcset=""
     width="60px"
     height="52px"


 >

</div>

<div class="menu-bar_item">
<ul>
  <li><a href="https://www.youtube.com/channel/UC9VfH_qz2sAzwMnsy_wfC5Q">YouTube</a></li>
  <li><a href="https://www.linkedin.com/in/gilvan-laurentino-silva-89149695/overlay/contact-info/">LInkdin</a></li>
  <li><a href="https://github.com/Piv-Web-Sistemas">GitHub</a></li>
</ul>
</div>

</div>
